

{% extends 'base.html' %}
{% load static %}
 

{% block content %}


<div class="page_main_2">
    <h1 class="page-heading">Faculty and Staff</h1>
 
    <div class="container profile-page">

            <div class="row g-4">             <!-- row 1-->
              <div class="col-4">       <!-- col 1-->
                <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                    <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Anthony-Aguirre.jpeg' %}" class="logo img-fluid"></div>

                    <div class="col2 profile-txt-div" style="flex: 2;">
                        <h1 class="profile-heading" >Anthony Aguirre, FCSP</h1>                        
                        <p class="profile-txt" >Mentor & Tutor</p>
                    </div>
                </div>
              </div>    <!-- col 1-->

              <div class="col-4">   <!-- col 2-->
                <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                    <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Paul-Aube.jpeg' %}" class="logo img-fluid"></div>

                    <div class="col2 profile-txt-box" style="flex: 2;">
                        <h1 class="profile-heading" >Paul H. Aube, FCSP</h1>                        
                        <p class="profile-txt" > Board Member, New Stoa, Inc.<br>
                            Mentor & Tutor</p>
                    </div>
                </div> 
              </div>                <!-- col 2-->

              <div class="col-4">   <!-- col 3-->
                <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                    <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/César-Avilés.jpeg' %}" class="logo img-fluid"></div>

                    <div class="col2 profile-txt-box" style="flex: 2;">
                        <h1 class="profile-heading" >César Avilés, FCSP</h1>                        
                        <p class="profile-txt" >Mentor</p>
                    </div>
                </div>
              </div>                <!-- col 3-->
   
            </div>       <!-- row 1-->
           

<!-- row 2-->
              <div class="row g-4">             <!-- row 2-->
                <div class="col-4">       <!-- col 1-->
                  <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                      <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Ian-Campbell.jpeg' %}" class="logo img-fluid"></div>
  
                      <div class="col2 profile-txt-div" style="flex: 2;">
                          <h1 class="profile-heading" >Ian Campbell, FCSP</h1>                        
                          <p class="profile-txt" >Mentor & Tutor</p>
                      </div>
                  </div>
                </div>    <!-- col 1-->
  
                <div class="col-4">   <!-- col 2-->
                  <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                      <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/William-Dyer.jpeg' %}" class="logo img-fluid"></div>
  
                      <div class="col2 profile-txt-box" style="flex: 2;">
                          <h1 class="profile-heading" >William L. Dyer,
                            FCSP</h1>                        
                          <p class="profile-txt"> Mentor</p>
                      </div>
                  </div>
                </div>                <!-- col 2-->
  
                <div class="col-4">   <!-- col 3-->
                  <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                      <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Chris-Fisher.jpeg' %}" class="logo img-fluid"></div>
  
                      <div class="col2 profile-txt-box" style="flex: 2;">
                          <h1 class="profile-heading" >Chris Fisher, FCSP</h1>                        
                          <p class="profile-txt" >Mentor</p>
                      </div>
                  </div>
                </div>                <!-- col 3-->
     
              </div>       <!-- row 2-->
 

<!-- row 3-->              
        <div class="row g-4">             <!-- row 3-->
            <div class="col-4">       <!-- col 1-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/profile-male.png' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-div" style="flex: 2;">
                    <h1 class="profile-heading" >Mark Karet, FCSP</h1>                        
                    <p class="profile-txt" >Board Member,<br> 
                        New Stoa, Inc.</p>
                </div>
            </div>
            </div>    <!-- col 1-->

            <div class="col-4">   <!-- col 2-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/John-Knighton.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading" >John Knighton,
                        FCSP</h1>                        
                    <p class="profile-txt" >
                        Mentor</p>
                </div>
            </div>
            </div>                <!-- col 2-->

            <div class="col-4">   <!-- col 3-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/James-Kostecka.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading" >James Kostecka, FCSP</h1>                        
                    <p class="profile-txt" >Mentor</p>
                </div>
            </div>
            </div>                <!-- col 3-->

        </div>       <!-- row 3 -->


<!-- row 4-->
        <div class="row g-4">             <!-- row 4-->
            <div class="col-4">       <!-- col 1-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Ralph-Kurz.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-div" style="flex: 2;">
                    <h1 class="profile-heading" >Ralph Kurz, FCSP<br>
                        Mentor & Tutor</h1>                        
                    <p class="profile-txt" >Mentor & Tutor</p>
                </div>
            </div>
            </div>    <!-- col 1-->

            <div class="col-4">   <!-- col 2-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Paul-Lanagan.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading" >Paul Lanagan,
                        FCSP</h1>                        
                    <p class="profile-txt" >
                        Mentor</p>
                </div>
            </div>
            </div>                <!-- col 2-->

            <div class="col-4">   <!-- col 3-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Mitch-Leventhal.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading">Mitch Leventhal, FCSP</h1>                        
                    <p class="profile-txt" >VP, New Stoa, Inc.<br>
                    Mentor</p>
                </div>
            </div>
            </div>                <!-- col 3-->

        </div>       <!-- row 4 -->

<!-- row 5-->
        <div class="row g-4">             <!-- row 5-->
            <div class="col-4">       <!-- col 1-->
                <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                    <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Dirk-Mahling.jpeg' %}" class="logo img-fluid"></div>
    
                    <div class="col2 profile-txt-box" style="flex: 2;">
                        <h1 class="profile-heading" >Dirk Mahling, FCSP</h1>                        
                        <p class="profile-txt" >President, New Stoa, Inc.<br>
                        Mentor & Tutor</p>
                    </div>
                </div>
            </div>    <!-- col 1-->

            <div class="col-4">   <!-- col 2-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/George-Nagle.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading" >George Nagle,
                        FCSP</h1>                        
                    <p class="profile-txt" >
                        Mentor</p>
                </div>
            </div>
            </div>                <!-- col 2-->

            <div class="col-4">   <!-- col 3-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Steen-Nielsen.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading" >Steen Nielsen, FCSP</h1>                        
                    <p class="profile-txt" >Mentor</p>
                </div>
            </div>
            </div>                <!-- col 3-->

        </div>       <!-- row 5-->      

<!-- row 6-->
        <div class="row g-4">             <!-- row 6-->
            <div class="col-4">       <!-- col 1-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Greg-Rowden.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-div" style="flex: 2;">
                    <h1 class="profile-heading" >Greg Rowden, FCSP</h1>                        
                    <p class="profile-txt" >Mentor</p>
                </div>
            </div>
            </div>    <!-- col 1-->

            <div class="col-4">   <!-- col 2-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Scott-Stoddard.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading" >Scott Stoddard, FCSP</h1>                        
                    <p class="profile-txt" >
                        Mentor & Tutor</p>
                </div>
            </div>
            </div>                <!-- col 2-->

            <div class="col-4">   <!-- col 3-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Marcus-Tomlian.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading" >Marcus Tomlian, FCSP</h1>                        
                    <p class="profile-txt" >Mentor</p>
                </div>
            </div>
            </div>                <!-- col 3-->

        </div>       <!-- row 6-->

        <div class="row g-4">             <!-- row 7-->
            <div class="col-4">       <!-- col 1-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Adam-Valenstein.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-div" style="flex: 2;">
                    <h1 class="profile-heading" >Adam Valenstein, FCSP</h1>                        
                    <p class="profile-txt" >Board Member, New Stoa, Inc.<br>
                        Mentor & Tutor</p>
                </div>
            </div>
            </div>    <!-- col 1-->

            <div class="col-4">   <!-- col 2-->
            <div class="py-3 px-2 mb-4 profile-div d-flex" style="justify-content: space-around">
                <div class="col2 profile-img"><img src="{% static 'images/profile_imgs/Erik-Wiegardt.jpeg' %}" class="logo img-fluid"></div>

                <div class="col2 profile-txt-box" style="flex: 2;">
                    <h1 class="profile-heading" >Erik Wiegardt</h1>                        
                    <p class="profile-txt" >Scholarch Emeritus</p>
                </div>
            </div>
            </div>                <!-- col 2-->

            <div class="col-4">   <!-- col 3-->
            
            </div>                <!-- col 3-->

        </div>       <!-- row 7-->


      </div>        <!-- container profile-page -->
      

    
    
</div>

{% endblock %}